#comment_form
  %p#comment_error{:style => "display:none;"}
  - form_remote_tag(:url => {:action => 'comment'}, :html => {:id => 'form_for_comment'}) do
    %p
      %label{:for => 'name'} Name
      %br/
      = text_field 'comment', 'name', :class => 'styled_input'
    %p
      %label{:for => 'comment'} Comment
      %br/
      = text_area 'comment', 'content', :size => '35x4', :class => 'styled_input'
    %p
      = hidden_field 'comment', 'date', :value => Date.today
      = hidden_field 'comment', 'post_id', :value => id
      = submit_tag 'Submit', :onclick => "Element.show('comment_busy')"
      #comment_busy{:style => "display:none;"}
        %br/
        = image_tag 'busy.gif', :alt => 'loading...'
%p#comment_notice{:style => "display:none;"}