<article>
  <h1><%= link_to post.title, date_path(:year => post.date.year, :month => post.date.strftime("%m"), :day => post.date.strftime("%d"), :slug => post.slug), :class => "title_link" %></h1>
  
  <p class="posted">
    <%= post.date.strftime("%b %d, %Y") %>
    &nbsp;-&nbsp;
    <%= link_to "Comments", date_path(:year => post.date.year, :month => post.date.strftime("%m"), :day => post.date.strftime("%d"), :slug => post.slug) + '#disqus_thread', :class => "comments", 'data-disqus-identifier' => "disqus_post_#{post.id}" %>
  </p>

  <%=raw post.content %>
  <%=raw show_tags(post) %>
</article>