<div class="blog_box_top"></div>
<div class="blog_box">
	<h1><%= link_to post.title,
					date_path(:year => post.date.year,
								:month => post.date.strftime("%m"),
								:day => post.date.strftime("%d"),
								:title => strip_chars(post.title)),
					:class => "title_link" %></h1>
	<div class="date_box">
		<p class="month"><%= post.date.strftime("%b").upcase %></p>
		<p class="day"><%= post.date.strftime("%d") %></p>
		<p class="year"><%= post.date.strftime("%Y") %></p>
	</div>
	<p class="posted">
		<%= link_to pluralize(post.approved_comments.length, 'comment'), 
					date_path(	:year => post.date.year,
								:month => post.date.strftime("%m"),
								:day => post.date.strftime("%d"),
								:title => strip_chars(post.title)),
					:class => "comments" %>
	</p>

	<%= post.content %>
	<%= show_tags(post) %>
</div><!-- blog_box -->
<div class="blog_box_bottom"></div>