- if @posts and @posts.length > 0
  = render :partial => 'post', :collection => @posts
- elsif @post
  .blog_box
    - @page_title = "Travis on Rails &raquo; #{@post.title}"
    %h1= @post.title
  
    .date_box
      %p.month= @post.date.strftime("%b").upcase
      %p.day= @post.date.strftime("%d")
      %p.year= @post.date.strftime("%Y")
  
    = @post.content
  
    = show_tags(@post)
    %br/
    
    %a{:name => 'comments'}
    - @post.approved_comments.each do |comment|
      .comment
        %p.author
          %strong=h comment.name
          said on
          = succeed ':' do
            = comment.date.to_formatted_s(:long)
        %p=h comment.content
  
    %p Leave a comment:
    = render :partial => 'comment_form', :locals => {:id => @post.id}
    %p
- else
  .blog_box
    %p There are no posts for this date.
