<%- if @posts and @posts.length > 0 -%>
	<%- @posts.each do |post| -%>
		<h1><%= link_to post.title,
						date_url(:year => post.date.year,
									:month => post.date.strftime("%m"),
									:day => post.date.strftime("%d"),
									:title => post.title.gsub(' ', '-') ),
						:class => "title_link" %></h1>
		
		<p class="posted">
			Published on <%= post.date.to_formatted_s(:long) %>
			&nbsp;|&nbsp;
			<%= link_to pluralize(post.approved_comments.length, 'comment'), 
						date_path(:year => post.date.year,
									:month => post.date.strftime("%m"),
									:day => post.date.strftime("%d"),
									:title => post.title.gsub(' ', '-') ),
						:class => "comments" %>
		</p>
		<%= post.content %>
		<%= show_tags(post) %>
		<br />
	<%- end -%>
<%- elsif @post -%>
	<%- @page_title = "Travis on Rails &raquo; #{@post.title}" -%>
	<h1><%= @post.title %></h1>
	<p class="posted">Published on <%= @post.date.to_formatted_s(:long) %></p>
	<%= @post.content %>
	<%= show_tags(@post) %>
	<br />
	<%- @post.approved_comments.each do |comment| -%>
		<div class="comment">
			<%- date_len = (comment.date - @post.date) -%>
			<p class="author">
				<strong><%=h comment.name %></strong> said on <%=h comment.date.to_formatted_s(:long) %>:
			</p>
			<p><%=h comment.content %></p>
		</div><!-- comment -->
	<%- end -%>
	<p>Leave a comment:</p>
	<%= render :partial => 'comment_form', :locals => {:id => @post.id} %>
<%- else -%>
	<p>There are no posts for this date.</p>
<%- end -%>