<%- if !@posts.blank? -%>
  <%= render 'post', :collection => @posts %>
<%- elsif !@post.blank? -%>
  <div class="blog_box">
    <%- @page_title = "Travis on Rails &raquo; #{@post.title}" -%>
    <h1><%= @post.title %></h1>

    <div class="date_box">
      <p class="month"><%= @post.date.strftime("%b").upcase %></p>
      <p class="day"><%= @post.date.strftime("%d") %></p>
      <p class="year"><%= @post.date.strftime("%Y") %></p>
    </div> <!-- .date_box -->

    <%=raw @post.content %>
    <%=raw show_tags(@post) %>

    <br />

    <%= render 'disqus', :post => @post %>
  </div> <!-- .blog_box -->
<%- else -%>
  <p>There are no posts for this date.</p>
<%- end -%>
