<%- if @posts and @posts.length > 0 -%>
	<%= render :partial => 'post', :collection => @posts %>
<%- elsif @post -%>
	<div class="blog_box_top"></div>
	<div class="blog_box">
		<%- @page_title = "Travis on Rails &raquo; #{@post.title}" -%>
		<h1><%= @post.title %></h1>
		<div class="date_box">
			<p class="month"><%= @post.date.strftime("%b").upcase %></p>
			<p class="day"><%= @post.date.strftime("%d") %></p>
			<p class="year"><%= @post.date.strftime("%Y") %></p>
		</div>
		<%= @post.content %>
		<%= show_tags(@post) %>
		<br />
		<%- @post.approved_comments.each do |comment| -%>
			<div class="comment">
				<%- date_len = (comment.date - @post.date) -%>
				<p class="author">
					<strong><%=h comment.name %></strong> said on <%=h comment.date.to_formatted_s(:long) %>:
				</p>
				<p><%=h comment.content %></p>
			</div><!-- comment -->
		<%- end -%>
		<p>Leave a comment:</p>
		<%= render :partial => 'comment_form', :locals => {:id => @post.id} %>
		<p></p>
	</div><!-- blog_box -->
	<div class="blog_box_bottom"></div>
<%- else -%>
	<div class="blog_box_top"></div>
	<div class="blog_box">
		<p>There are no posts for this date.</p>
	</div><!-- blog_box -->
	<div class="blog_box_bottom"></div>
<%- end -%>