<%- if !@posts.blank? -%>
  <%= render :partial => 'post', :collection => @posts %>
<%- elsif !@post.blank? -%>
  <%- @page_title = "Travis on Rails &raquo; #{@post.title}".html_safe -%>
  <h1><%= @post.title %></h1>

  <p class="posted"><%= @post.date.strftime("%b %d, %Y") %></p>

  <%=raw @post.content %>
  <%=raw show_tags(@post) %>

  <br />

  <%= render 'disqus', :post => @post %>
<%- else -%>
  <p>There are no posts for this date.</p>
<%- end -%>
