<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dsq="http://www.disqus.com/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:wp="http://wordpress.org/export/1.0/"
>
  <channel>
  <%- @posts.each do |post| -%>
    <item>
      <title><%= post.title %></title>
      <link><%= "http://travisonrails.com/" + date_path(:year => post.date.year, :month => post.date.strftime("%m"), :day => post.date.strftime("%d"), :slug => post.slug) %></link>
      <content:encoded><![CDATA[<%= post.content.html_safe %>]]></content:encoded>
      <dsq:thread_identifier><%= "disqus_post_#{post.id}" %></dsq:thread_identifier>
      <wp:post_date_gmt><%= post.date.to_time.utc.strftime("%Y-%m-%d %I:%M:%S") %></wp:post_date_gmt>
      <wp:comment_status>open</wp:comment_status>
    <%- post.approved_comments.each do |comment| -%>
      <wp:comment>
        <wp:comment_id><%= comment.id %></wp:comment_id>
        <wp:comment_author><%= comment.name %></wp:comment_author>
        <wp:comment_author_email><%= comment.name == 'Travis' ? 'traviskroberts@gmail.com' : "#{comment.name.gsub(/[^0-9a-zA-Z]/, '').downcase}@email.com" %></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP></wp:comment_author_IP>
        <wp:comment_date_gmt><%= comment.created_at.blank? ? post.date.to_time.utc.strftime("%Y-%m-%d %I:%M:%S") : comment.created_at.utc.strftime("%Y-%m-%d %I:%M:%S") %></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[<%= comment.content.html_safe %>]]></wp:comment_content>
        <wp:comment_approved>1</wp:comment_approved>
        <wp:comment_parent></wp:comment_parent>
      </wp:comment>
    <%- end -%>
    </item>
  <%- end -%>
  </channel>
</rss>