- unless @tag.nil?
  - @page_title = "Travis on Rails - Posts Tagged with \"#{@tag.name}\""
  - content_for :infobox do
    .infobox_top
    .infobox_bottom
      %h1
        Posts Tagged with
        = surround '"' do
          = @tag.name
  - if @posts and @posts.length > 0
    = render :partial => 'post', :collection => @posts
    = will_paginate @posts
  - else
    %p There are no posts at this time.
- else
  %h1 Posts by Tag
  %p There are no posts for that tag.
