<p class="cancel_top"><%= link_to 'Cancel', admin_posts_path, :class => 'cancel' %></p>
<h3>Add Blog Post</h3>

<div class="formCluster">
  <%= form_for :post, :url => admin_posts_path do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

    <p>
      <%= submit_tag 'Create Blog Post', :class => 'greyButton' %>
      &nbsp; or
      <%= link_to 'Cancel', admin_posts_path, :class => 'cancel' %>
    </p>
  <% end -%>
</div>
