.formClusterGroup
  %h4 Blog Post Details
  %p
    = f.label :title
    %br/
    = f.text_field :title, :class => 'formfield'
  %p
    = f.label :date
    %br/
    = f.date_select :date, :order => [:month, :day, :year]
  %p
    = f.label :content
    %br/
    = f.text_area :content, :size => '35x10', :class => 'formfield'
  %p
    = label_tag :tags
    %br/
    = text_field_tag :tags, (@tags.nil? or @tags.empty?) ? params[:tags] : @tags.join(", "), :class => 'formfield'
