<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @page_title ||= 'Travis On Rails - Ruby on Rails, XHTML, CSS, JavaScript, etc.' %></title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Travis Roberts" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="verify-v1" content="mke2+0A7WS568V879o3OaYyrx2f9JCA/4iizg4mANK0=" />
	
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<%= auto_discovery_link_tag(:rss, post_rss_path(:rss)) %>
	<%= stylesheet_link_tag 'travisonrails', 'SyntaxHighlighter' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'syntax_highlighter/shCore', 'syntax_highlighter/shBrushRuby', 'syntax_highlighter/shBrushCss', 'syntax_highlighter/shBrushXml.js' %>
	
</head>

<body onload="setup_syntax_highlighting()">

<div id="wrapper">

	<div id="header">
		<%= link_to '', paged_home_path(:page => 1), :class => 'logolink' %>
	</div><!-- header -->
	
	<div id="content">
		<div class="adsense">
			<script type="text/javascript">
			<!--
				google_ad_client = "pub-1382205691962358";
				google_ad_width = 728;
				google_ad_height = 90;
				google_ad_format = "728x90_as";
				google_ad_type = "text_image";
				google_ad_channel = "";
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</div><!-- adsense -->
		
		<div id="blog">
			<%= render :partial => 'shared/notice_div' %>
			<%= yield %>
		</div><!-- blog -->
		
		<div id="rightCol">
			<div id="nav">
				<div class="padding">
					<h2>Links</h2>
					<ul>
						<li><%= link_to 'Twitter', 'http://twitter.com/travisroberts' %></li>
						<li><%= link_to 'Flickr', 'http://flickr.com/photos/traviskroberts', :popup => true %></li>
						<li><%= link_to 'Plexus Web Creations', 'http://plexusweb.com', :popup => true %></li>
						<li><%= link_to 'Respect Alumni', 'http://respectalumni.com', :popup => true %></li>
						<li><%= link_to 'Veader', 'http://codemonky.com', :popup => true %></li>
						<li><%= link_to 'Colin, the trumpet master', 'http://trumpetperformance.com', :popup => true %></li>
					</ul>
					
					<br />
					
					<h2>Archives</h2>
					<ul>
					<%- if @links and @links.length > 0 -%>
						<%- for link in @links -%>
							<li><a href="/<%= link[1] %>"><%= link[0] %></a></li>
						<%- end -%>
					<%- end -%>
						<li><%= link_to "Current Posts", paged_home_path(:page => 1) %></li>
					</ul>
					
					<br />
					
					<h2>Tags</h2>
					<%= render :partial => 'shared/tag_cloud' %>
					
				</div><!-- padding -->
			</div><!-- nav -->
		</div><!-- rightCol -->
		
		<div class="clear"></div><br />
		
		<p class="valid_links">
			<a href="http://validator.w3.org/check/referer"><img src="/images/xhtml.gif" alt="[Valid XHTML]" title="Validate this page for XHTML" /></a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="/images/css.gif" alt="[Valid CSS]" title="Validate this page for CSS" /></a>
			<a href="http://www.feedvalidator.org/check.cgi?url=http%3A//www.travisonrails.com/feed/posts/"><img src="/images/rss.gif" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
			<a href="http://www.rubyonrails.com"><img src="/images/rails_icon.gif" alt="[Rails Powered]" title="Built with Ruby on Rails" /></a>
		</p>
		
		<p class="center">&copy;<%= Date.today.year %> <%= mail_to "traviskroberts@gmail.com", "Travis Roberts", :encode => "hex" %>.  All rights reserved.</p>
		
		<div class="clear"></div>
		
	</div><!-- content -->
</div><!-- wrapper -->

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"> </script>
<script type="text/javascript">
	_uacct = "UA-2032096-1";
	urchinTracker();
</script>
</body>
</html>