<!DOCTYPE html>
%html
  %head
    %title= @page_title ||= 'Travis On Rails - Ruby on Rails, Code Samples, Ruby Tutorials, Rails Tutorials, XHTML, CSS'
    
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content => "Travis Roberts"}
    %meta{:name => "description", :content => "A blog about Ruby on Rails, XHTML, CSS, and JavaScript. A great source for ruby tutorials, rails tutorials, xhtml and css hints."}
    %meta{:name => "keywords", :content => "rails, ruby, merb, haml, ruby gems, code, tutorial, javascript, erb, xhtml, css"}
    
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = auto_discovery_link_tag(:rss, post_rss_path(:rss))
    
    = stylesheet_link_tag 'travisonrails', 'shCore', 'shThemeDefault'
    = javascript_include_tag :defaults
    = javascript_include_tag 'syntax_highlighter/shCore', 'syntax_highlighter/shBrushBash', 'syntax_highlighter/shBrushCss', 'syntax_highlighter/shBrushJScript.js', 'syntax_highlighter/shBrushPhp.js', 'syntax_highlighter/shBrushRuby', 'syntax_highlighter/shBrushXml'
    
    /[if lt IE 7]
      %script{:type => "text/javascript", :src => "/javascripts/IE7.js"}
      :sass
        .date_box
          left: -63px
    /[if IE 7]
      :sass
        .pagination a, .pagination a:hover
          border: none
  
  %body
    #header
      = link_to '', paged_home_path(:page => 1), :class => 'logolink'
    
    #wrapper
      #content
        = yield :infobox
        
        #blog
          = render :partial => 'shared/notice_div'
          = yield
        
        #rightCol
          .sidebox
            %h2.popular Popular Posts
            - if !@popular_posts.blank?
              %ul.popular
                - @popular_posts.each do |post|
                  %li= link_to post.title, date_path(	:year => post.date.year, :month => post.date.strftime("%m"), :day => post.date.strftime("%d"), :slug => post.slug)
          
          .sidebox
            %h2 Search
            - form_tag(home_path) do
              = text_field_tag :search, params[:search]
              = submit_tag 'Search'
          
          .sidebox
            %h2 Archives
            %ul
              - if @links and @links.length > 0
                - @links.each do |link|
                  %li= link_to link[0], "/#{link[1]}"
              %li= link_to "Current Posts", paged_home_path(:page => 1)
          
          .sidebox
            %h2 Tags
            = render :partial => "shared/tag_cloud"

          %h2 Projects
          =link_to image_tag('listode_logo-trans.png', :alt => 'Listode'), "http://listode.com", :class => "no_hover"
          =link_to image_tag('nshvll_logo.gif', :alt => "NSHVLL tech community"), "http://nshvll.org", :class => "no_hover"
        
        .clear
        %br/
        
        %p.center
          &copy;
          = Date.today.year
          = succeed '.' do
            = mail_to "traviskroberts@gmail.com", "Travis Roberts", :encode => "hex"
          All rights reserved.
        
        .clear
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2032096-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      SyntaxHighlighter.defaults['wrap-lines'] = false;
      SyntaxHighlighter.defaults['tab-size'] = 2;
      SyntaxHighlighter.all();
