!!! Strict
%html{html_attrs}
  %head
    %title= @page_title ||= 'Travis On Rails - Ruby on Rails, Code Samples, Ruby Tutorials, Rails Tutorials, XHTML, CSS'
    
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content => "Travis Roberts"}
    %meta{:name => "description", :content => "A blog about Ruby on Rails, XHTML, CSS, and JavaScript. A great source for ruby tutorials, rails tutorials, xhtml and css hints."}
    %meta{:name => "keywords", :content => "rails, ruby, merb, haml, ruby gems, code, tutorial, javascript, erb, xhtml, css"}
    
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = auto_discovery_link_tag(:rss, post_rss_path(:rss))
    
    = stylesheet_link_tag 'travisonrails', 'shCore', 'shThemeDefault'
    = javascript_include_tag :defaults
    = javascript_include_tag 'syntax_highlighter/shCore', 'syntax_highlighter/shBrushBash', 'syntax_highlighter/shBrushCss', 'syntax_highlighter/shBrushJScript.js', 'syntax_highlighter/shBrushPhp.js', 'syntax_highlighter/shBrushRuby', 'syntax_highlighter/shBrushXml'
    
    /[if lt IE 7]
      %script{:type => "text/javascript", :src => "/javascripts/IE7.js"}
      :sass
        .date_box
          left: -63px
    /[if IE 7]
      :sass
        .pagination a, .pagination a:hover
          border: none
  
  %body
    #header
      = link_to '', paged_home_path(:page => 1), :class => 'logolink'
    
    #wrapper
      #content
        = yield :infobox
        
        #blog
          = render :partial => 'shared/notice_div'
          = yield
        
        #rightCol
          .sidebox_top
          .sidebox_bottom
            %h2.popular Popular Posts
            - if !@popular_posts.blank?
              %ul.popular
                - @popular_posts.each do |post|
                  %li= link_to post.title, date_path(	:year => post.date.year, :month => post.date.strftime("%m"), :day => post.date.strftime("%d"), :slug => post.slug)
          
          .sidebox_top
          .sidebox_bottom
            %h2.archives Archives
            %ul
              - if @links and @links.length > 0
                - @links.each do |link|
                  %li= link_to link[0], "/#{link[1]}"
              %li= link_to "Current Posts", paged_home_path(:page => 1)
          
          .sidebox_top
          .sidebox_bottom
            %h2.tags Tags
            = render :partial => "shared/tag_cloud"
          
          .sidebox_top
          .sidebox_bottom
            %h2.links Links
            %ul
              %li= link_to "This is What You're Doing Wrong", 'http://thisiswhatyouredoingwrong.com', :popup => true
              %li= link_to 'Listode', 'http://listode.com', :popup => true
              %li= link_to 'Twitter', 'http://twitter.com/travisroberts', :popup => true
              %li= link_to 'GitHub', 'http://github.com/travisr', :popup => true
              %li= link_to 'Flickr', 'http://flickr.com/photos/travisroberts', :popup => true
              %li= link_to 'Plexus Web Creations', 'http://plexusweb.com', :popup => true
              %li= link_to 'Veader', 'http://codemonky.com', :popup => true
              %li= link_to 'Colin Jones, Trumpet', 'http://trumpetperformance.com', :popup => true
              %li= link_to 'Andrew Reifman Graphic Design', 'http://andrewreifman.com', :popup => true
              %li= mail_to 'traviskroberts@gmail.com', 'Contact Me', :encode => 'javascript'

          %h2 Projects
          =link_to image_tag('listode_logo-trans.png', :alt => 'Listode'), "http://listode.com", :class => "no_hover"
          =link_to image_tag('nshvll_logo.gif', :alt => "NSHVLL tech community"), "http://nshvll.org", :class => "no_hover"
        
        .clear
        %br/
        
        %p.valid_links
          %a{:href => "http://validator.w3.org/check/referer"}
            %img{:src => "/images/xhtml.gif", :alt => "[Valid XHTML]", :title => "Validate this page for XHTML"}
          %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"}
            %img{:src => "/images/css.gif", :alt => "[Valid CSS]", :title => "Validate this page for CSS"}
          %a{:href => "http://www.feedvalidator.org/check.cgi?url=http%3A//www.travisonrails.com/feed/posts.rss"}
            %img{:src => "/images/rss.gif", :alt => "[Valid RSS]", :title => "Validate the RSS feed"}
          %a{:href => "http://www.rubyonrails.com"}
            %img{:src => "/images/rails_icon.gif", :alt => "[Rails Powered]", :title => "Built with Ruby on Rails"}
        
        %p.center
          &copy;
          = Date.today.year
          = succeed '.' do
            = mail_to "traviskroberts@gmail.com", "Travis Roberts", :encode => "hex"
          All rights reserved.
        
        .clear
    
    %script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
    :javascript
      _uacct = "UA-2032096-1";
      urchinTracker();
      SyntaxHighlighter.defaults['wrap-lines'] = false;
      SyntaxHighlighter.defaults['tab-size'] = 2;
      SyntaxHighlighter.all();
