<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ||= 'Travis On Rails' %></title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="author" content="Travis Roberts" />
    <meta name="description" content="A blog about Ruby on Rails, XHTML, CSS, and JavaScript. A great source for ruby tutorials, rails tutorials, xhtml and css hints." />
    <meta name="keywords" content="rails, ruby, merb, haml, ruby gems, code, tutorial, javascript, erb, xhtml, css" />
    <meta name="google-site-verification" content="VE4gMhdPekcxyHBWcjH5ifhq_1pEpwvNsy5XhZkR7Uk" />

    <link href="/favicon.ico" rel="shortcut icon" />

    <%= auto_discovery_link_tag(:rss, post_rss_path(:rss)) %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'syntax_highlighter/shCore', 'syntax_highlighter/shBrushBash', 'syntax_highlighter/shBrushCss', 'syntax_highlighter/shBrushJScript', 'syntax_highlighter/shBrushPhp', 'syntax_highlighter/shBrushRuby', 'syntax_highlighter/shBrushXml' %>
  </head>

  <body>
    <header>
      <%= form_tag paged_home_path(:page => nil), :method => 'get', :id => 'search-form' do %>
        <div class="input-prepend">
          <span class="add-on pictos">s</span>
          <%= text_field_tag :search, params[:search], :class => 'span2 auto-clear', :title => 'Search', :placeholder => 'Search' %>
        </div>
      <% end -%>
      <%= link_to '', paged_home_path(:page => nil), :class => 'logolink' %>
    </header>

    <div class="container-fluid">
      <div class="sidebar">
        <h2>Archives</h2>
        <ul>
          <%- if @links and @links.length > 0 -%>
            <%- @links.each do |link| -%>
              <li><%= link_to link[0], "/#{link[1]}" %></li>
            <%- end -%>
          <%- end -%>
          <li><%= link_to "Current Posts", paged_home_path(:page => 1) %></li>
        </ul>

        <h2>Tags</h2>
        <%= render 'shared/tag_cloud' %>

        <h2>Projects</h2>
        <p>
          <%= link_to image_tag('listode_logo-trans.png', :alt => 'Listode'), "http://listode.com", :class => "no_hover" %>
          <%= link_to image_tag('nshvll_logo.gif', :alt => "NSHVLL tech community"), "http://nshvll.org", :class => "no_hover" %>
          <%= link_to image_tag('nme_logo.png', :alt => "A git, javascript, etc. blog."), "http://nomethoderror.com", :class => "no_hover" %>
        </p>
      </div> <!-- .sidebar -->

      <div class="content">
        <%= yield :infobox %>

        <%= render 'shared/notice_div' %>
        <%= yield %>

        <footer>
          &copy; <%= Date.today.year %> <%= mail_to "traviskroberts@gmail.com", "Travis Roberts", :encode => "hex" %>.
          All rights reserved.
        </footer>

      </div> <!-- .content -->
    </div> <!-- .container-fluid -->

    <script type="text/javascript" charset="utf-8">
      // GOOGLE ANALYTICS
      var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2032096-1']);
          _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
      })();

      // DISQUS COMMENT COUNT
      var disqus_shortname = 'travisonrails';
      (function () {
        var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());

      // SYNTAX HIGHTLIGHTER
      SyntaxHighlighter.defaults['wrap-lines'] = false;
      SyntaxHighlighter.defaults['gutter'] = false;
      SyntaxHighlighter.defaults['tab-size'] = 2;
      SyntaxHighlighter.all();
    </script>
  </body>
</html>
